@inherits Atles.Client.Components.Themes.IndexComponent

@if (Model == null)
{
    <Loading />
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">@Loc["Home"]</li>
        </ol>
    </nav>

    @foreach (var category in Model.Categories)
    {
        if (category.Forums.Count > 0)
        {
            <div class="mb-3">
                @if (Model.Categories.Count > 1)
                {
                    <h4 class="mb-3">@category.Name</h4>
                }
                <div class="card">
                    <ul class="list-group list-group-flush">
                        @foreach (var forum in category.Forums)
                        {
                            <li class="list-group-item py-3">
                                <h5 class="card-title">
                                    @if (forum.CanViewTopics)
                                    {
                                        <a href="@Url.Forum(forum.Slug)">@forum.Name</a>
                                    }
                                    else
                                    {
                                        @forum.Name
                                    }
                                </h5>
                                <p class="card-text">@forum.Description</p>
                                <div class="row small">
                                    <div class="col-md-4 mb-1">
                                        <span class="font-weight-bold">@forum.TotalTopics</span> @Loc["Topics"]
                                        <span class="font-weight-bold ml-2">@forum.TotalReplies</span> @Loc["Replies"]
                                    </div>
                                    <div class="col-md-8 mb-1 text-right text-secondary">
                                        @if (forum.HasLastPost())
                                        {
                                            <span class="ml-2">
                                                @((MarkupString)string.Format(Loc["Latest: {0} by {1} on {2}"],
                                                $"<a href=\"{Url.Topic(forum.Slug, forum.LastTopicSlug)}\" title=\"{forum.LastTopicTitle}\">{forum.LastTopicTitle.ToSafeLengthText(15)}</a>",
                                                $"<a href=\"/user/{forum.LastPostUserId}\" title=\"{forum.LastPostUserDisplayName}\">{forum.LastPostUserDisplayName.ToSafeLengthText(10)}</a>",
                                                forum.LastPostTimeStamp.Value.ToAppLocalDateAndTime()))
                                            </span>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    }
}
