@inherits Atles.Client.Components.Themes.PublicLayoutComponent

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">@Site?.Title</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">@Loc["Home"]</a>
                    </li>
                    <li class="nav-item">
                        <a href="/search" class="nav-link">@Loc["Search"]</a>
                    </li>
                    <LoginDisplay />
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="pb-3">
    <div class="container">
        @Body
        @*<CookieConsent />*@
    </div>
</main>

<footer class="border-top footer text-muted small">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3 text-center">
                <div class="mb-2">
                    <span class="mr-2">&copy; @DateTime.UtcNow.Year @Site?.Title</span>
                    <a class="mr-2" href="/privacy">@Loc["Privacy"]</a>
                    <a href="/terms">@Loc["Terms"]</a>
                </div>
                <div>
                    @* <PleaseDoNotRemove> *@
                    Powered by <a href="https://github.com/lucabriguglia/Atles" title="Powered by Atles">Atles</a>
                    @* </PleaseDoNotRemove> *@
                </div>
            </div>
        </div>
    </div>
</footer>
