@inherits Atles.Client.Components.Themes.SettingsComponent

@if (Model == null)
{
    <Loading />
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">@Loc["Home"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Loc["Settings"]</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-3 text-center">
            <Avatar GravatarHash="@Model.User.GravatarHash" GravatarSize="128" Class="mb-3"></Avatar>
            <p class="small">
                @((MarkupString)string.Format(Loc["Set up your profile image on {0}"],
                    "<a href=\"https://www.gravatar.com\" title=\"Gravatar\" target=\"_blank\">Gravatar</a>"))
            </p>
        </div>
        <div class="col-md-9">
            <h3 class="mb-3">@Loc["Settings"]</h3>
            <div class="row">
                <div class="col-md-4">
                    <EditForm EditContext="@EditContext" OnSubmit="UpdateAsync">
                        <DataAnnotationsValidator />
                        <div class="form-group">
                            <label for="displayName" class="control-label @CssClassDisabled">@Loc["Display Name"]</label>
                            <InputText id="displayName" @bind-Value="Model.User.DisplayName" Class="form-control" />
                            <ValidationMessage For="@(() => Model.User.DisplayName)" />
                        </div>
                        <div class="form-group">
                            @if (!Model.User.IsSuspended)
                            {
                                <input type="submit" value="@Loc["Update"]" class="btn btn-primary @CssClassDisabled" />
                            }
                            else
                            {
                                <input type="submit" disabled="disabled" value="@Loc["Update"]" class="btn btn-primary" />
                            }
                        </div>
                        <ValidationSummary />
                    </EditForm>
                </div>
            </div>
            @if (SavingData)
            {
                <Loading />
            }
            @if (Saved)
            {
                <div class="alert alert-success" role="alert">
                    @Loc["Settings updated!"]
                </div>
            }
        </div>
    </div>
}