@page "/admin/permission-sets/create"

@inherits Atles.Client.Components.Admin.PermissionSets.CreatePage

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Loc["Home"]</a></li>
        <li class="breadcrumb-item"><a href="/admin/permission-sets">@Loc["Permission Sets"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Loc["Create New Permission Set"]</li>
    </ol>
</nav>

<h3 class="mb-3">@Loc["Create New Permission Set"]</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <Form Model="Model" Button="@Loc["Save"]" OnValidSubmit="@SaveAsync"></Form>
}