@page "/admin/permission-sets/edit/{id:guid}"

@inherits Atlas.Client.Components.Admin.PermissionSets.EditPage

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Loc["Home"]</a></li>
        <li class="breadcrumb-item"><a href="/admin/permission-sets">@Loc["Permission Sets"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Loc["Edit Permission Set"]</li>
    </ol>
</nav>

<h3 class="mb-3">@Loc["Edit Permission Set"]</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <Form Model="Model" Button="@Loc["Update"]" OnValidSubmit="@UpdateAsync"></Form>
    <TargetEvents Id="Id"></TargetEvents>
}