@page "/admin/forums/create"
@page "/admin/forums/create/{categoryId:guid}"

@inherits Atles.Client.Components.Admin.Forums.CreatePage

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Loc["Home"]</a></li>
        <li class="breadcrumb-item"><a href="/admin/forums">@Loc["Forums"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Loc["Create New Forum"]</li>
    </ol>
</nav>

<h3 class="mb-3">@Loc["Create New Forum"]</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <Form Model="Model" Button="@Loc["Save"]" OnValidSubmit="@SaveAsync"></Form>
}