@page "/admin/forums/edit/{id:guid}"

@inherits Atles.Client.Pages.Admin.Forums.EditPage

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Localizer["Home"]</a></li>
        <li class="breadcrumb-item"><a href="/admin/forums">@Localizer["Forums"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Localizer["Edit Forum"]</li>
    </ol>
</nav>

<h3 class="mb-3">@Localizer["Edit Forum"]</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <Form Model="Model" SubmitButtonText="@Localizer["Update"]" OnSubmit="@UpdateAsync" OnCancel="@Cancel"></Form>
    <TargetEvents Id="Id"></TargetEvents>
}