@*@layout PublicLayout*@
@page "/"
@using Atlas.Models.Public
@inject AnonymousService Service;

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

@if (Model == null)
{
    <Loading />
}
else
{
    @foreach (var category in Model.Categories)
    {
        <div class="mb-3">
            @if (Model.Categories.Count > 1)
            {
                <h4 class="mb-3">@category.Name</h4>
            }
            <div class="card">
                <ul class="list-group list-group-flush">
                    @foreach (var forum in category.Forums)
                    {
                        <li class="list-group-item py-3">
                            <h5 class="card-title"><a href="/forum/@forum.Id">@forum.Name</a></h5>
                            <p class="card-text">Description</p>
                            <div class="small">
                                <text class="font-weight-bold">@forum.TotalTopics</text> Topics
                                &nbsp;&nbsp;
                                <text class="font-weight-bold">@forum.TotalReplies</text> Replies
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }

    @*@foreach (var category in Model.Categories)
    {
        <div class="mb-3">
            @if (Model.Categories.Count > 1)
            {
                <h4 class="mb-3">@category.Name</h4>
            }
            @foreach (var forum in category.Forums)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/forum/@forum.Id">@forum.Name</a></h5>
                        <p class="card-text">Description</p>
                        <div class="small">
                            <text class="font-weight-bold">@forum.TotalTopics</text> Topics
                            &nbsp;&nbsp;
                            <text class="font-weight-bold">@forum.TotalReplies</text> Replies
                        </div>
                    </div>
                </div>
            }
        </div>
    }*@
}

@code {
    private IndexPageModel Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await Service.GetFromJsonAsync<IndexPageModel>("api/public/index-model");
    }
}
