@page "/member"
@page "/member/{id:guid}"
@using Atlas.Models.Public.Members
@inject HttpClient Http
@inject AnonymousService Service;

@if (Model == null)
{
    <Loading />
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Member.DisplayName</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-2 text-center">
            <Avatar GravatarHash="@Model.Member.GravatarHash" GravatarSize="128" Class="mb-3"></Avatar>

            <h4 class="mb-4">@Model.Member.DisplayName</h4>

            <div class="form-control rounded bg-light text-center mb-3 mx-auto" style="width: 8rem;">
                Topics: <span class="font-weight-bold">@Model.Member.TotalTopics</span>
            </div>

            <div class="form-control rounded bg-light text-center mx-auto" style="width: 8rem;">
                Replies: <span class="font-weight-bold">@Model.Member.TotalReplies</span>
            </div>

        </div>
        <div class="col-md-10">
            <h4 class="mb-3">Last Topics</h4>

            @if (Model.LastTopics.Count == 0)
            {
                <NoRecords Text="No topics found for this user." />
            }
            else
            {
                <div class="card">
                    <ul class="list-group list-group-flush">
                        @foreach (var topic in Model.LastTopics)
                        {
                            <li class="list-group-item py-3">
                                <p class="card-text">
                                    @if (topic.CanRead)
                                    {
                                        <a href="/forum/@topic.ForumId/@topic.Id">@topic.Title</a>
                                    }
                                    else
                                    {
                                        @topic.Title
                                    }
                                </p>
                                <div class="row small">
                                    <div class="col-md-12">
                                        @topic.TimeStamp.ToShortDateString() @topic.TimeStamp.ToShortTimeString()
                                        &nbsp;&nbsp;
                                        <span class="font-weight-bold">@topic.TotalReplies</span> Replies
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [Parameter]
    public Guid? Id { get; set; }

    private MemberPageModel Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;

        var requestUri = Id == null ? "api/public/member" : $"api/public/member/{Id.Value}";

        if (user.Identity.IsAuthenticated)
        {
            Model = await Http.GetFromJsonAsync<MemberPageModel>(requestUri);
        }
        else
        {
            Model = await Service.GetFromJsonAsync<MemberPageModel>(requestUri);
        }
    }
}