@*@layout PublicLayout*@
@page "/forum/{forumId:guid}/{topicId:guid}"
@using Atlas.Models.Public
@inject HttpClient Http
@inject AnonymousService Service;
@inject NavigationManager Navigation

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/forum/@ForumId">@Model?.Forum.Name</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model?.Topic.Title</li>
    </ol>
</nav>

<h3 class="mb-3">@Model?.Topic.Title</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <div class="card border-secondary mb-3">
        @*<div class="card-header">
            @Model?.Topic.Title
        </div>*@
        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    @Model.Topic.MemberDisplayName
                </div>
                <div class="col-md-6 text-right">

                </div>
            </div>


            @((MarkupString)Model.Topic.Content)
        </div>
    </div>

    <h4 class="mb-2">Replies</h4>

    if (Model.Replies.Items.Count == 0)
    {
        <NoRecords Text="No replies found for this topic."></NoRecords>
    }
    else
    {
        @foreach (var reply in Model.Replies.Items)
        {
            <div class="card">
                <div class="card-body">
                    @((MarkupString)reply.Content)
                </div>
            </div>
        }

        <div class="mt-3">
            <Pager TotalPages="Model.Replies.TotalPages" OnLoadDataCallback="@LoadDataAsync"></Pager>
        </div>
    }

    <AuthorizeView>
        <Authorized>
            <h4 class="mb-2">Reply</h4>
            <div class="row">
                <div class="col-md-8">
                    <EditForm Context="PostContext" Model="@Model.Post" OnValidSubmit="SaveAsync">
                        <DataAnnotationsValidator />
                        <Editor @bind-Value="@Model.Post.Content" Rows="10"></Editor>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <ValidationSummary />
                    </EditForm>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <a href="authentication/login?returnUrl=@Uri.EscapeDataString(Navigation.Uri)">Log in</a> to reply.
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    [Parameter] public Guid ForumId { get; set; }
    [Parameter] public Guid TopicId { get; set; }
    private TopicPageModel Model { get; set; }
    private string Preview { get; set; } = string.Empty;

    private async Task LoadDataAsync(int page)
    {
        Model = await Service.GetFromJsonAsync<TopicPageModel>($"api/public/forum/{ForumId}/{TopicId}?page={page}");
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync(1);
    }

    private async Task SaveAsync()
    {
        await Http.PostAsJsonAsync("api/public/save-reply", Model);
        await OnInitializedAsync();
    }

    private async Task PreviewAsync()
    {
        if (!string.IsNullOrWhiteSpace(Model.Post.Content))
        {
            Preview = null;
            var response = await Http.PostAsJsonAsync("api/public/preview", Model.Post.Content);
            Preview = await response.Content.ReadAsStringAsync();
        }
    }
}