@page
@model Atlas.Areas.Admin.Pages.ForumGroups.IndexModel
@{
    ViewData["Title"] = "Forum Groups";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<h1 class="mb-3">@ViewData["Title"]</h1>

<div class="float-right mb-3">
    <a class="btn btn-primary" asp-page="Create" role="button">Create New</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.ForumGroups[0].Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.ForumGroups[0].TotalTopics)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.ForumGroups[0].TotalReplies)</th>
            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ForumGroups)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalTopics)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalReplies)</td>
                <td>
                    <a class="btn btn-secondary" asp-area="Admin" asp-page="/ForumGroups/Edit" asp-route-id="@item.Id" role="button">Edit</a>
                    <a class="btn btn-secondary" asp-area="Admin" asp-page="/Forums/Index" asp-route-forumgroupid="@item.Id" role="button">Forums</a>
                    <button type="button" class="btn btn-danger delete-forum" data-toggle="modal" data-target="#confirm-delete-forum" data-id="@item.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="float-right">
    <a class="btn btn-primary" asp-page="Create" role="button">Create New</a>
</div>

<form method="post">
    <div class="modal fade" id="confirm-delete-forum" tabindex="-1" role="dialog" aria-labelledby="deleteForumModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteForumModalLabel">Delete Forum Group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Forum Group and all associated Forums?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="confirm-delete-forum-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>
        $('.delete-forum').click(function () {
            $("#confirm-delete-forum-button").attr("formaction", "/Admin/ForumGroups?handler=Delete&id=" + $(this).attr("data-id"));
        });
    </script>
}
