@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

@foreach (var forumGroup in Model.ForumGroups)
{
    <h4 class="mb-2">@forumGroup.Name</h4>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Forum</th>
            <th scope="col" class="text-center">Topics</th>
            <th scope="col" class="text-center">Replies</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forum in forumGroup.Forums)
        {
            <tr>
                <td><a asp-page="/Forum" asp-route-id="@forum.Id">@forum.Name</a></td>
                <td class="text-center">@Html.DisplayFor(modelItem => forum.TotalTopics)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => forum.TotalReplies)</td>
                <td>&nbsp;</td>
            </tr>
        }
        </tbody>
    </table>
}
