@using Atlas.Models.Public
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject HttpClient Http
@inject IStringLocalizer<SharedResources> Loc

<AuthorizeView>
    <Authorized>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <Avatar GravatarHash="@GravatarHash" GravatarSize="24"></Avatar>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/member">@Loc["Profile"]</a>
                <a class="dropdown-item" href="/settings">@Loc["Settings"]</a>
                <a class="dropdown-item" href="authentication/profile">@Loc["Account"]</a>
                @if(IsAdmin)
                {
                    <a class="dropdown-item" href="/admin/dashboard">@Loc["Admin"]</a>
                }
                <a class="dropdown-item" href="#" @onclick="BeginSignOut">@Loc["Log out"]</a>
            </div>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a href="authentication/login" class="btn btn-outline-secondary mr-1 mb-1">@Loc["Log in"]</a>
        </li>
        <li class="nav-item">
            <a href="authentication/register" class="btn btn-outline-secondary mb-1">@Loc["Register"]</a>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    public string GravatarHash { get; set; }

    public bool IsAdmin { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            var currentMember = await Http.GetFromJsonAsync<CurrentMemberModel>("api/public/current-member");
            GravatarHash = currentMember.GravatarHash;
            IsAdmin = user.IsInRole(Consts.RoleNameAdmin);
        }
    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
