@inherits Atles.Client.Pages.Admin.AdminLayoutComponent

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/admin/dashboard">Atles</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <button class="nav-link btn btn-link" @onclick="BeginSignOut">@Loc["Log out"]</button>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/admin/dashboard">
                            <i class="fas fa-home mr-2" style="font-size:1.5rem;"></i> @Loc["Dashboard"]
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/admin/categories">
                            <i class="far fa-folder mr-2" style="font-size:1.5rem;"></i> @Loc["Categories"]
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/admin/forums">
                            <i class="far fa-comments mr-2" style="font-size:1.5rem;"></i> @Loc["Forums"]
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/admin/permission-sets">
                            <i class="fas fa-shield-alt mr-2" style="font-size:1.5rem;"></i> @Loc["Permission Sets"]
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/admin/users">
                            <i class="fas fa-users mr-2" style="font-size:1.5rem;"></i> @Loc["Users"]
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/admin/roles">
                            <i class="fas fa-lock mr-2" style="font-size:1.5rem;"></i> @Loc["Roles"]
                        </NavLink>
                    </li>
                    @*<li class="nav-item px-3">
                        <NavLink class="nav-link" href="/admin/themes">
                            <i class="fas fa-palette mr-2" style="font-size:1.5rem;"></i> @Loc["Themes"]
                        </NavLink>
                    </li>*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/admin/settings">
                            <i class="fas fa-cog mr-2" style="font-size:1.5rem;"></i> @Loc["Settings"]
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/public">
                            <i class="fas fa-globe mr-2" style="font-size:1.5rem;"></i> @Loc["Public"]
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/docs">
                            <i class="fas fa-book mr-2" style="font-size:1.5rem;"></i> Docs
                        </NavLink>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="pt-4">@Body</div>
        </main>
    </div>
</div>
