@page "/admin/roles"

@inherits Atlas.Client.Components.Admin.RolesPage

@if (Model == null)
{
    <Loading />
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/dashboard">@Loc["Home"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Loc["Roles"]</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col">
            <h3 class="mb-3">@Loc["Roles"]</h3>
        </div>
        <div class="col text-right mb-3">
            <a href="#" @onclick:preventDefault="true" @onclick="@(async () => await NewAsync())" class="btn btn-primary" role="button">@Loc["Create New"]</a>
        </div>
    </div>

    if (Model.Roles.Count == 0)
    {
        <NoRecords />
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">@Loc["Name"]</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Roles)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            @if (item.Name != Consts.RoleNameAdmin)
                            {
                                <button type="button" class="btn btn-secondary mb-1" role="button" @onclick="@(async () => await  EditAsync(item.Id, item.Name))">@Loc["Edit"]</button>
                                <button type="button" class="btn btn-secondary mb-1" role="button" @onclick="@(async () => await  LoadUsersInRole(item.Name))">@Loc["Users"]</button>
                                <button type="button" class="btn btn-danger mb-1" data-toggle="modal" data-target="#confirm-modal" data-id="@item.Id" @onclick="() => SetDeleteId(item.Id)">@Loc["Delete"]</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-secondary mb-1 disabled" role="button">@Loc["Edit"]</button>
                                <button type="button" class="btn btn-secondary mb-1" role="button" @onclick="@(async () => await  LoadUsersInRole(item.Name))">@Loc["Users"]</button>
                                <button type="button" class="btn btn-danger mb-1 disabled">@Loc["Delete"]</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <ConfirmModal Title="@Loc["Delete"]"
                      Body="@Loc["Are you sure you want to delete this role?"]"
                      Button="@Loc["Delete"]"
                      OnClickCallback="@DeleteAsync" />
    }

    <a id="form"></a>
    @if (DisplayForm)
    {
        <h3 class="mb-3">@EditTitle</h3>
        <div class="row">
            <div class="col-md-4">
                <EditForm Model="Model.EditRole" OnValidSubmit="@(async () => await SaveAsync())">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="name" class="control-label">@Loc["Name"]</label>
                        <InputText id="name" @bind-Value="Model.EditRole.Name" Class="form-control" />
                        <ValidationMessage For="@(() => Model.EditRole.Name)" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="@EditButton" class="btn btn-primary mb-1" />
                        <button type="button" class="btn btn-secondary mb-1" @onclick="Cancel">@Loc["Cancel"]</button>
                    </div>
                </EditForm>
            </div>
        </div>
    }

    <a id="users"></a>
    @if (DisplayUsers)
    {
        if (Loading)
        {
            <Loading />
        }
        else
        {
            if (Model.UsersInRole.Count == 0)
            {
                <NoRecords Text="@Loc["No users found in this role"]" />
            }
            else
            {
                <h3 class="mb-3">@string.Format(Loc["Users in role {0}"], RoleForUsers)</h3>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">@Loc["Email"]</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UsersInRole)
                        {
                            <tr>
                                <td>@item.Email</td>
                                <td>
                                    <a href="/admin/users/edit-by-identity-user-id/@item.Id" class="btn btn-secondary mb-1" role="button">@Loc["Edit"]</a>
                                    @if (RoleForUsers != Consts.RoleNameAdmin)
                                    {
                                        <button type="button" class="btn btn-danger mb-1" data-toggle="modal" data-target="#remove-user-from-role-confirm-modal" data-id="@item.Id" @onclick="() => SetUseIdToRemove(item.Id)">@Loc["Remove"]</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-danger mb-1 disabled">@Loc["Delete"]</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <ConfirmModal Id="remove-user-from-role-confirm-modal"
                              Title="@Loc["Remove"]"
                              Body="@Loc["Are you sure you want to remove the user from the role?"]"
                              Button="@Loc["Remove"]"
                              OnClickCallback="@RemoveUserFromRoleAsync" />
            }
        }
    }
}