@page "/admin/settings"

@inherits Atles.Client.Pages.Admin.SettingsPage

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Localizer["Home"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Localizer["Settings"]</li>
    </ol>
</nav>

<h3 class="mb-3">@Localizer["Settings"]</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="Model.Site" OnValidSubmit="UpdateAsync">
                <FluentValidationValidator />
                <ul class="nav nav-tabs" id="tabLinks" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general-content" role="tab" aria-controls="general-content" aria-selected="true">@Localizer["General"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="privacy-tab" data-toggle="tab" href="#privacy-content" role="tab" aria-controls="privacy-content" aria-selected="false">@Localizer["Privacy"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="terms-tab" data-toggle="tab" href="#terms-content" role="tab" aria-controls="terms-content" aria-selected="false">@Localizer["Terms"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced-content" role="tab" aria-controls="advanced-content" aria-selected="false">@Localizer["Advanced"]</a>
                    </li>
                </ul>
                <div class="tab-content" id="tabContent">
                    <div class="tab-pane fade px-3 show active" id="general-content" role="tabpanel" aria-labelledby="general-tab">
                        <div class="form-group">
                            <label for="title" class="control-label">@Localizer["Title"]</label>
                            <InputText id="title" @bind-Value="Model.Site.Title" Class="form-control" />
                            <ValidationMessage For="@(() => Model.Site.Title)" />
                        </div>
                        <div class="form-group">
                            <label for="theme" class="control-label">@Localizer["Theme"]</label>
                            <select id="theme" @bind="Model.Site.Theme" class="form-control">
                                @foreach (var item in Model.Themes)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="css" class="control-label">@Localizer["CSS"]</label>
                            <select id="css" @bind="Model.Site.Css" class="form-control">
                                @foreach (var item in Model.Css)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="language" class="control-label">@Localizer["Language"]</label>
                            <select id="language" @bind="Model.Site.Language" class="form-control">
                                @foreach (var item in Model.Languages)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="privacy-content" role="tabpanel" aria-labelledby="privacy-tab">
                        <Editor Id="Privacy" @bind-Value="@Model.Site.Privacy" Rows="20"></Editor>
                    </div>
                    <div class="tab-pane fade" id="terms-content" role="tabpanel" aria-labelledby="terms-tab">
                        <Editor Id="Terms" @bind-Value="@Model.Site.Terms" Rows="20"></Editor>
                    </div>
                    <div class="tab-pane fade" id="advanced-content" role="tabpanel" aria-labelledby="advanced-tab">
                        <div class="form-group">
                            <label for="headScript" class="control-label">@Localizer["Head Script"]</label>
                            <InputTextArea id="headScript" @bind-Value="Model.Site.HeadScript" Class="form-control" Rows="20" />
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="@Localizer["Update"]" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary mb-1" @onclick="Cancel">@Localizer["Cancel"]</button>
                </div>
                <ValidationSummary />
            </EditForm>
        </div>
    </div>

    <TargetEvents Id="Model.Site.SiteId"></TargetEvents>
}