@layout AdminLayout
@page "/admin/forums/edit/{id:guid}"
@using Atlas.Models.Admin.Forums
@attribute [Authorize(Policy = "Admin")]
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IStringLocalizer<AdminResources> Loc

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Loc["Home"]</a></li>
        <li class="breadcrumb-item"><a href="/admin/forums">@Loc["Forums"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Loc["Edit Forum"]</li>
    </ol>
</nav>

<h3 class="mb-3">@Loc["Edit Forum"]</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <Form Model="Model" Button="@Loc["Update"]" OnValidSubmit="@UpdateAsync"></Form>
    <TargetEvents Id="Id"></TargetEvents>
}

@code {
    [Parameter] public Guid Id { get; set; }
    private FormComponentModel Model { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Model = await Http.GetFromJsonAsync<FormComponentModel>($"api/admin/forums/edit/{Id}");
    }

    private async Task UpdateAsync()
    {
        await Http.PostAsJsonAsync($"api/admin/forums/update", Model.Forum);
        NavigationManager.NavigateTo($"/admin/forums/{Model.Forum.CategoryId}");
    }
}
