@page "/admin/docs"

@inherits Atlas.Client.Components.Admin.DocsPage

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Loc["Home"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Loc["Docs"]</li>
    </ol>
</nav>

<h3 class="mb-3">@Loc["Docs"]</h3>

<p>Experimental domain documentation.</p>

@if (Model == null)
{
    <Loading />
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @foreach (var context in Model.Contexts)
                {
                    <h4>@context.Name</h4>
                    <ul class="nav flex-column">
                        @foreach (var target in context.Targets)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#" @onclick:preventDefault="true" @onclick="@(() => SelectTarget(context.Name, target.Name))">@target.NormalizedName</a>
                            </li>
                        }
                    </ul>
                }
            </div>
            <div class="col-md-8">
                <h5>@SelectedTarget.NormalizedName</h5>
                <div>@SelectedTarget.Summary</div>

                @foreach (var request in SelectedTarget.Requests)
                {
                    <div class="font-weight-bold">@request.NormalizedName</div>
                    <div>@request.Summary</div>
                }
            </div>
        </div>
    </div>
}