@page "/admin/docs"

@inherits Atlas.Client.Components.Admin.DocsPage

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Loc["Home"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Loc["Docs"]</li>
    </ol>
</nav>

<h3 class="mb-3">@Loc["Docs"]</h3>

<p>Experimental domain documentation.</p>

@if (Model == null)
{
    <Loading />
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @foreach (var context in Model.Contexts)
                {
                    <ul class="nav flex-column">
                        @foreach (var target in context.Targets)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#" @onclick:preventDefault="true" @onclick="@(() => SelectTarget(context.Name, target.Name))">@target.NormalizedName</a>
                            </li>
                        }
                    </ul>
                }
            </div>
            <div class="col-md-8">

                <h4>@SelectedTarget.NormalizedName</h4>
                <div class="mb-3">@SelectedTarget.Summary</div>

                <h5>Properties</h5>
                <table class="table table-bordered table-hover">
                    <tbody>
                        @foreach (var property in SelectedTarget.Properties)
                        {
                            <tr>
                                <th scope="row">@property.NormalizedName</th>
                                <td>@property.Summary</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <h5>Methods</h5>
                <table class="table table-bordered table-hover">
                    <tbody>
                        @foreach (var method in SelectedTarget.Methods)
                        {
                            <tr>
                                <th scope="row">@method.NormalizedName</th>
                                <td>@method.Summary</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <hr/>

                @*<h5>Requests</h5>*@
                @foreach (var request in SelectedTarget.Requests)
                {
                    <h4>@request.NormalizedName</h4>
                    <div class="mb-3">@request.Summary</div>

                    <h5>Properties</h5>
                    <table class="table table-bordered table-hover">
                        <tbody>
                            @foreach (var property in request.Properties)
                            {
                                <tr>
                                    <th scope="row">@property.NormalizedName</th>
                                    <td>@property.Summary</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @if (request.Methods.Count > 0)
                    {
                        <h5>Methods</h5>
                        <table class="table table-bordered table-hover">
                            <tbody>
                                @foreach (var method in request.Methods)
                                {
                                    <tr>
                                        <th scope="row">@method.NormalizedName</th>
                                        <td>@method.Summary</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
}