@page "/admin/settings"

@inherits Atlas.Client.Components.Admin.SettingsPage

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Loc["Home"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Loc["Settings"]</li>
    </ol>
</nav>

<h3 class="mb-3">@Loc["Settings"]</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="Model.Site" OnValidSubmit="UpdateAsync">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label for="title" class="control-label">@Loc["Title"]</label>
                    <InputText id="title" @bind-Value="Model.Site.Title" Class="form-control" />
                    <ValidationMessage For="@(() => Model.Site.Title)" />
                </div>
                <div class="form-group">
                    <label for="theme" class="control-label">@Loc["Theme"]</label>
                    <select id="theme" @bind="Model.Site.Theme" class="form-control">
                        @foreach (var item in Model.Themes)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="css" class="control-label">@Loc["CSS"]</label>
                    <select id="css" @bind="Model.Site.Css" class="form-control">
                        @foreach (var item in Model.Css)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="language" class="control-label">@Loc["Language"]</label>
                    <select id="language" @bind="Model.Site.Language" class="form-control">
                        @foreach (var item in Model.Languages)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="@Loc["Update"]" class="btn btn-primary" />
                </div>
                <ValidationSummary />
            </EditForm>
        </div>
    </div>

    <TargetEvents Id="Model.Site.Id"></TargetEvents>
}