@* Based on: https://www.thecodehubs.com/visual-studio-blazor-template-with-dapper-and-net-core-3-1/*@

@inherits Atles.Client.Shared.PagerComponent

@if (TotalPages > 0)
{
    <nav aria-label="Pager">
        <ul class="pagination">
            <li class="page-item @(CurrentPage == 1 ? "disabled" : "")">
                <button class="btn btn-link page-link" role="link" @onclick="@(async () => await NavigateToPage("first"))">@Loc["First"]</button>
            </li>
            <li class="page-item @(CurrentPage == 1 ? "disabled" : "")">
                <button class="btn btn-link page-link" role="link" @onclick="@(async () => await NavigateToPage("previous"))">@Loc["Previous"]</button>
            </li>
            @for (var i = StartPage; i <= EndPage; i++)
            {
                var currentPage = i;
                <li class="page-item @(currentPage == CurrentPage ? "active" : "")">
                    <button class="btn btn-link page-link" role="link" @onclick="@(async () => await RefreshData(currentPage))">@currentPage</button>
                </li>
            }
            <li class="page-item @(CurrentPage == TotalPages ? "disabled" : "")">
                <button class="btn btn-link page-link" role="link" @onclick="@(async () => await NavigateToPage("next"))">@Loc["Next"]</button>
            </li>
            <li class="page-item @(CurrentPage == TotalPages ? "disabled" : "")">
                <button class="btn btn-link page-link" role="link" @onclick="@(async () => await NavigateToPage("last"))">@Loc["Last"]</button>
            </li>
        </ul>
    </nav>
}