@page "/admin/members/edit/{id:guid}"

@inherits Atlas.Client.Components.Admin.Members.EditPage

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Loc["Home"]</a></li>
        <li class="breadcrumb-item"><a href="/admin/members">@Loc["Members"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Loc["Edit Member"]</li>
    </ol>
</nav>

<h3 class="mb-3">@Loc["Edit Member"]</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <Form Model="Model" Button="Update" OnValidSubmit="@UpdateAsync"></Form>
    <TargetEvents Id="Id"></TargetEvents>
}