@page "/admin/categories/create"

@inherits Atlas.Client.Components.Admin.Categories.CreatePage

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Loc["Home"]</a></li>
        <li class="breadcrumb-item"><a href="/admin/categories">@Loc["Categories"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Loc["Create New Category"]</li>
    </ol>
</nav>

<h3 class="mb-3">@Loc["Create New Category"]</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <Form Model="Model" Button="@Loc["Save"]" OnValidSubmit="@SaveAsync"></Form>
}