@page "/admin/categories/create"

@inherits Atles.Client.Pages.Admin.Categories.CreatePage

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Localizer["Home"]</a></li>
        <li class="breadcrumb-item"><a href="/admin/categories">@Localizer["Categories"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Localizer["Create New Category"]</li>
    </ol>
</nav>

<h3 class="mb-3">@Localizer["Create New Category"]</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <Form Model="@Model" SubmitButtonText="@Localizer["Save"]" OnSubmit="@SaveAsync" OnCancel="@Cancel"></Form>
}