@inherits Atles.Client.Pages.Admin.Categories.FormComponent

<div class="row">
    <div class="col-md-4">
        <EditForm Model="Model.Category" OnValidSubmit="OnSubmit">
            <FluentValidationValidator />
            <div class="form-group">
                <label for="name" class="control-label">@Localizer["Name"]</label>
                <InputText id="name" @bind-Value="Model.Category.Name" class="form-control" />
                <ValidationMessage For="@(() => Model.Category.Name)" />
            </div>
            <div class="form-group">
                <label for="permissionSetId" class="control-label">@Localizer["Permission Set"]</label>
                <InputSelect id="permissionSetId" @bind-Value="Model.Category.PermissionSetId" class="form-control">
                    @foreach (var item in Model.PermissionSets)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <input type="submit" value="@SubmitButtonText" class="btn btn-primary mb-1" />
                <button type="button" class="btn btn-secondary mb-1" @onclick="OnCancel">@Localizer["Cancel"]</button>
            </div>
            <ValidationSummary />
        </EditForm>
    </div>
</div>
