@page "/admin/categories"

@inherits Atles.Client.Pages.Admin.Categories.IndexPage

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Localizer["Home"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Localizer["Categories"]</li>
    </ol>
</nav>

<div class="row">
    <div class="col">
        <h3 class="mb-3">@Localizer["Categories"]</h3>
    </div>
    <div class="col text-right mb-3">
        <a href="/admin/categories/create" class="btn btn-primary" role="button">@Localizer["Create New"]</a>
    </div>
</div>

@if (Model == null)
{
    <Loading />
}
else if (Model.Categories.Count == 0)
{
    <NoRecords />
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">@Localizer["Name"]</th>
                <th scope="col" class="text-center">@Localizer["Forums"]</th>
                <th scope="col" class="text-center">@Localizer["Topics"]</th>
                <th scope="col" class="text-center">@Localizer["Replies"]</th>
                <th scope="col">@Localizer["Permission Set"]</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td class="text-center">
                        @if (item.SortOrder > 1)
                        {
                            <button type="button" class="btn btn-link btn-sm" @onclick="@(async () => await MoveUpAsync(item.Id))">
                                <span class="fas fa-arrow-up"></span>
                            </button>
                        }
                        @if (item.SortOrder < Model.Categories.Count)
                        {
                            <button type="button" class="btn btn-link btn-sm" @onclick="@(async () => await MoveDownAsync(item.Id))">
                                <span class="fas fa-arrow-down"></span>
                            </button>
                        }
                    </td>
                    <td>@item.Name</td>
                    <td class="text-center">@item.TotalForums</td>
                    <td class="text-center">@item.TotalTopics</td>
                    <td class="text-center">@item.TotalReplies</td>
                    <td>@item.PermissionSetName</td>
                    <td>
                        <a href="/admin/categories/edit/@item.Id" class="btn btn-secondary mb-1" role="button">@Localizer["Edit"]</a>
                        <a href="/admin/forums/@item.Id" class="btn btn-secondary mb-1" role="button">@Localizer["Forums"]</a>
                        <button type="button" class="btn btn-danger mb-1" data-toggle="modal" data-target="#confirm-modal" data-id="@item.Id" @onclick="() => SetDeleteId(item.Id)">@Localizer["Delete"]</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <ConfirmModal Title="@Localizer["Delete"]"
                  Body="@Localizer["Are you sure you want to delete this category and all associated forums?"]"
                  Button="@Localizer["Delete"]"
                  OnClickCallback="@DeleteAsync" />
}