@page
@model Atlas.Areas.Admin.Pages.Forums.IndexModel

@{
    ViewData["Title"] = "Forums";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<p>
    <select class="form-control" asp-items="ViewBag.ForumGroupId"></select>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Forums[0].Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Forums[0].TotalTopics)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Forums[0].TotalReplies)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Forums[0].PermissionSetName)</th>
            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Forums) 
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.TotalTopics)</td>
            <td>@Html.DisplayFor(modelItem => item.TotalReplies)</td>
            <td>@Html.DisplayFor(modelItem => item.PermissionSetName)</td>
            <td>
                <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@item.Id" role="button">Edit</a>
                <button type="button" class="btn btn-secondary delete-forum" data-toggle="modal" data-target="#confirm-delete-forum" data-id="@item.Id">Delete</button>
            </td>
        </tr>
    }
    </tbody>
</table>

<form method="post">
    <div class="modal fade" id="confirm-delete-forum" tabindex="-1" role="dialog" aria-labelledby="deleteForumModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteForumModalLabel">Delete Forum</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Forum?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="confirm-delete-forum-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
        <script>
            $('.delete-forum').click(function () {
                $("#confirm-delete-forum-button").attr("formaction", "/Admin/Forums?handler=Delete&id=" + $(this).attr("data-id"));
            });
        </script>
    }
