@page "/admin/users/activity/{id:guid}"
@inherits Atles.Client.Pages.Admin.Users.ActivityPage

@if (Model == null)
{
    <Loading />
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/dashboard">@Localizer["Home"]</a></li>
            <li class="breadcrumb-item"><a href="/admin/users">@Localizer["Users"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Localizer["Activity"]</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col">
            <h3 class="mb-3">@string.Format(Localizer["{0}'s Activity"], Model.User.DisplayName)</h3>
        </div>
        <div class="col text-right mb-3">
            <a href="/admin/users/edit/@Id" class="btn btn-primary" role="button">@Localizer["Edit User"]</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 input-group mb-3">
            <input type="text" class="form-control" placeholder="@Localizer["Search activity"]" @bind-value="Search" @bind-value:event="oninput" @onkeyup="MyKeyUpAsync">
            <button class="btn bg-transparent text-secondary" style="margin-left: -40px; z-index: 100;" @onclick="@(async () => await ClearSearchAsync())">
                <i class="fa fa-times"></i>
            </button>
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button" @onclick="@(async () => await SearchAsync())">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>

    <a id="events"></a>

    @if (Model.Events == null)
    {
        <Loading />
    }
    else
    {
        @if (Model.Events.Items.Count == 0)
        {
            <NoRecords />
        }
        else
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">@Localizer["Date"]</th>
                        <th scope="col">@Localizer["Activity"]</th>
                        <th scope="col">@Localizer["Data"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var _event in Model.Events.Items)
                    {
                        <tr>
                            <td>@_event.TimeStamp</td>
                            <td>@_event.TargetType @_event.Type</td>
                            <td>
                                @if (_event.Data != null)
                                {
                                    @foreach (var (key, value) in _event.Data)
                                    {
                                        <div><strong>@key</strong>: @value.ToSafeLengthText(50)</div>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

    <div class="mt-3">
        <Pager @ref="Pager" CurrentPage="CurrentPage" TotalPages="TotalPages" OnLoadDataCallback="@ChangePageAsync"></Pager>
    </div>
}