@page "/admin/users/create"

@inherits Atles.Client.Pages.Admin.Users.CreatePage

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">@Localizer["Home"]</a></li>
        <li class="breadcrumb-item"><a href="/admin/users">@Localizer["Users"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Localizer["Create New User"]</li>
    </ol>
</nav>

<h3 class="mb-3">@Localizer["Create New User"]</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="Model.User" OnValidSubmit="@(async () => await SaveAsync())">
                <FluentValidationValidator />
                <div class="form-group">
                    <label for="email" class="control-label">@Localizer["Email"]</label>
                    <InputText id="email" @bind-Value="Model.User.Email" Class="form-control" />
                    <ValidationMessage For="@(() => Model.User.Email)" />
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">@Localizer["Password"]</label>
                    <InputText id="password" @bind-Value="Model.User.Password" Type="password" Class="form-control" />
                    <ValidationMessage For="@(() => Model.User.Password)" />
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="control-label">@Localizer["Confirm Password"]</label>
                    <InputText id="confirmPassword" @bind-Value="Model.User.ConfirmPassword" Type="password" Class="form-control" />
                    <ValidationMessage For="@(() => Model.User.ConfirmPassword)" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" @onclick="Cancel">@Localizer["Cancel"]</button>
                </div>
            </EditForm>
        </div>
    </div>
}

@if (HasError)
{
    <SomethingWrong Error="@Error" />
}